.App {
  text-align: center;
  padding: 16px;
}
.board-container {
  background: papayawhip;
  position: relative;
}
.shell-container {
  background-color: lightblue;
  border-radius: 50%;
  border: 6px solid lightblue;
  position: relative;
}
.shell-container.open {
  background-color: transparent;
}
.ball {
  position: absolute;
  background-color: lightcoral;
  border-radius: 50%;
}
